.row.mt-50.ml-10
  .col-sm
    %h2
      - if @person == current_user
        Tests you created
      - else
        #{@person.name} has created:

    - if @tests_created.present?
      %ul
        - @tests_created.each do |test|
          %li
            = link_to test.name, test_path(test)

    - else
      %i
        Nothing whatsoever!
