%h3{:style => 'padding:0 0 15px 0;'}
  Tests matching
  %em= params[:term]
  

-if @results
  %ul.bulletless
    -@results.each do |r|
      %li= link_to r.name, test_path(r.id, r.to_param)
-else
  %em Sorry, no results found.