/**************** Variables *****************/
/**************** Overrides *****************/
form {
  display: inline; }

a, a:link {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

ul, ol {
  list-style-position: outside; }

h1 span, h2 span, h3 span {
  font-weight: normal;
  font-size: 13px; }

p {
  padding: 0 0 10px 0;
  margin: 0; }

/**************** Forms *****************/
label {
  margin: 0;
  padding: 10px 0 0 0; }

input[type=radio], input.radio {
  vertical-align: middle; }

input[type=text], input.text {
  width: 500px; }

input[type=password], input.password {
  width: 500px; }

input[type=email], input.email {
  width: 500px; }

textarea {
  width: 500px; }

/**************** WMD editor (wysiwym textarea) *****************/
.wmd-panel {
  /*  margin-left: 25%;
    margin-right: 25%;*/
  width: 500px;
  min-width: 500px; }

#wmd-editor {
  background-color: Aquamarine; }

.wmd-button-bar {
  width: 500px;
  background-color: white; }

.wmd-input {
  height: 50px;
  width: 500px;
  background-color: white;
  border: 1px solid DarkGray; }

.wmd-preview {
  background-color: LightGray; }

.wmd-output {
  background-color: Pink; }

.wmd-button-row {
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 10px;
  padding: 0px;
  height: 20px; }

.wmd-spacer {
  width: 1px;
  height: 20px;
  margin-left: 7px;
  margin-right: 7px;
  position: relative;
  background-color: Silver;
  display: inline-block;
  list-style: none; }

.wmd-button {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  background-image: url(/images/wmd-buttons.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  display: inline-block;
  list-style: none; }

.wmd-button > a {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
  position: absolute;
  display: inline-block; }

/* sprite button slicing style information */
.wmd-bold-button {
  background-position: 0px 0; }

.wmd-italic-button {
  background-position: -20px 0; }

.wmd-link-button {
  background-position: -40px 0; }

.wmd-quote-button {
  background-position: -60px 0; }

.wmd-code-button {
  background-position: -80px 0; }

.wmd-image-button {
  background-position: -100px 0; }

.wmd-olist-button {
  background-position: -120px 0; }

.wmd-ulist-button {
  background-position: -140px 0; }

.wmd-heading-button {
  background-position: -160px 0; }

.wmd-hr-button {
  background-position: -180px 0; }

.wmd-undo-button {
  background-position: -200px 0; }

.wmd-redo-button {
  background-position: -220px 0; }

.wmd-help-button {
  position: absolute;
  right: 0px;
  background-position: -240px 0; }

.wmd-prompt-background {
  background-color: Black; }

.wmd-prompt-dialog {
  border: 1px solid #999999;
  background-color: #F5F5F5; }

.wmd-prompt-dialog > div {
  font-size: 0.8em;
  font-family: arial, helvetica, sans-serif; }

.wmd-prompt-dialog > form > input[type="text"] {
  border: 1px solid #999999;
  color: black; }

.wmd-prompt-dialog > form > input[type="button"] {
  border: 1px solid #888888;
  font-family: trebuchet MS, helvetica, sans-serif;
  font-size: 0.8em;
  font-weight: bold; }

/**************** promo bar ***********************/
#promo {
  background: #ccffff;
  color: #514721;
  opacity: .70;
  filter: alpha(opacity=70);
  font-weight: normal;
  font-size: 13px;
  margin-top: 0px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 2000;
  -moz-box-shadow: 0px 2px 6px #aaa;
  -webkit-box-shadow: 0px 2px 6px #aaa; }

#promo .notice {
  border: 0;
  background: transparent;
  opacity: 1;
  color: black;
  filter: alpha(opacity=100);
  padding: 3px 10px;
  margin: 0 auto;
  width: 950px; }

#promo a {
  color: blue; }

.promo_close {
  background: #fff;
  border: 1px solid #ddd;
  font-size: 12px;
  height: 14px;
  line-height: 1em;
  margin: 1px 3px 0 0;
  width: 14px;
  float: right;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

/**************** id's and classes *****************/
body {
  padding-top: 0;
  margin-top: 0; }

#head-wrap {
  width: 100%;
  padding-top: 0;
  margin-top: 0;
  border-top: 1px solid #c2f3ff;
  border-bottom: 1px solid #5C4033;
  /*background-color:#ccffff;*/
  /*background-color:#c2f3ff;*/
  background-color: #E0FFFF; }

#header {
  width: 970px;
  height: 40px;
  padding: 10px 15px 5px 15px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto; }

#header .right {
  float: right; }

#header .right .user {
  text-align: right;
  padding-bottom: 6px; }

#q {
  width: 200px;
  height: 10px;
  color: #ddd; }

#logotype {
  color: #BF0000;
  font-size: 5em;
  margin-top: -10px;
  padding: 0; }

#logotype a {
  color: #BF0000; }

#logotype a:hover {
  text-decoration: none; }

#signup {
  width: 500px;
  height: 270px;
  padding: 20px;
  background-color: white; }

#signup .dismiss {
  float: right; }

#signup h2 {
  padding-bottom: 5px; }

#signup h3 {
  padding: 10px 0 5px 0; }

#signup h4 {
  font-size: 1.4em;
  padding-bottom: 5px; }

#signup .submit {
  padding-top: 8px;
  font-size: 1.1em; }

#signup .submit .btn {
  font: bold;
  width: 90px;
  font-size: 1em; }

#container {
  width: 970px;
  padding: 0;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto; }

#container h1 {
  size: 1.6em; }

/************ Creating tests *************/
#multiple_choices {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd; }

.left {
  float: left; }

#questions {
  padding: 0;
  margin: 0 0 0 20px; }

#questions li {
  margin: 0;
  padding: 5px 0 5px 0; }

#questions li em {
  font-weight: bold; }

#question_pane {
  padding: 20px 0; }

#choices {
  list-style-type: none;
  padding: 0;
  margin: 0; }

#choices li {
  border: 0px solid red;
  padding: 5px 0px;
  margin: 0; }

#choices li label {
  border: 0px solid green;
  padding: 5px 0px;
  margin: 0; }

#answer {
  width: 80%; }

#answer h2 {
  font-size: 3em;
  padding: 10px 0 0 0; }

#answer #next {
  font-size: 1.5em;
  padding: 20px 0; }

#answer #explanation {
  padding: 5px 0 20px 0; }

#answer #progress {
  padding: 5px 0 10px 0; }

#results {
  padding: 10px 0; }

.bulletless {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.bulletless li {
  margin: 0;
  padding: 5px 0 33px 0;
  border-bottom: 1px solid #ddd; }

.bulletless.home li {
  padding: 15px 0; }

.bulletless li span {
  font-size: .9em;
  font-family: arial; }

.bulletless li span a {
  font-weight: normal; }

#comments h5 {
  padding: 20px 0 10px 0;
  margin: 20px 0 10px 0;
  border-top: 1px solid #ddd; }

#comments textarea {
  width: 670px;
  height: 210px; }

.scrollable {
  height: 300px;
  border: 1px solid #ddd;
  padding: 5px;
  overflow: scroll; }

.roundborder {
  border: 1px solid #ddd;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px; }

.button {
  padding: 8px;
  margin: 0 5px 0 0px;
  height: 11px;
  vertical-align: middle;
  color: #fff;
  text-decoration: none;
  font-family: Arial,sans-serif;
  font-weight: normal;
  line-height: .9;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  position: relative;
  cursor: pointer; }

.sm {
  padding: 2px 4px;
  margin: 0 0 50px 5px;
  font-size: .8em;
  line-height: inherit;
  height: 9px;
  vertical-align: middle; }

.caption {
  font-size: 11px; }

.gray {
  color: #999; }

/* original green: 99cc33 */
.green.button, .green.button:visited {
  background-color: #ffff99;
  border: 1px solid #ffcc00;
  color: #1A4882; }

/*.green.button:visited {
  background-color: #99cc33;
  border: 1px solid #99cc33;} */
.green.button:hover {
  background-color: #9966ff;
  color: white;
  text-decoration: none; }

.tag {
  border: 1px solid #ddd;
  padding: 3px 4px; }

.tag:hover {
  background-color: #aaa;
  color: #fff; }

.tag:hover a {
  text-decoration: none;
  color: white; }

.tag1 {
  font-size: 1.0em; }

.tag2 {
  font-size: 1.2em; }

.tag3 {
  font-size: 1.4em; }

.tag4 {
  font-size: 1.6em; }

/* replace with clearfix? */
#pusher {
  clear: both; }

#foot-wrap {
  width: 100%;
  border-top: 1px solid #ddd;
  margin-top: 50px; }

#footer {
  width: 970px;
  padding: 20px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-family: Georgia, serif;
  vertical-align: middle; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }
