/**************** Variables *****************/
/**************** Overrides *****************/
a, a:link {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

ul, ol {
  list-style-position: outside; }

h1 span, h2 span, h3 span {
  font-weight: normal;
  font-size: 13px; }

p {
  padding: 0 0 10px 0;
  margin: 0; }

/**************** Forms *****************/
label {
  margin: 0;
  padding: 10px 0 0 0; }

input[type=radio], input.radio {
  vertical-align: middle; }

input[type=text], input.text {
  width: 500px; }

input[type=password], input.password {
  width: 500px; }

input[type=email], input.email {
  width: 500px; }

textarea {
  width: 500px; }

/**************** WMD editor (wysiwym textarea) *****************/
.wmd-panel {
  width: 500px; }

#wmd-button-bar {
  width: 500px;
  background-color: white; }

#wmd-input {
  height: 200px;
  width: 500px;
  background-color: white;
  border: 1px solid DarkGray; }

#wmd-preview {
  background-color: white;
  border: 1px dashed DarkGray;
  padding: 10px 0 0 10px;
  margin: 0 0 10px 0;
  width: 500px; }

#wmd-output {
  background-color: Pink; }

#wmd-button-row {
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 10px;
  padding: 0px;
  height: 20px; }

.wmd-spacer {
  width: 1px;
  height: 20px;
  margin-left: 14px;
  position: absolute;
  background-color: Silver;
  display: inline-block;
  list-style: none; }

.wmd-button {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
  position: absolute;
  background-image: url(/images/wmd-buttons.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  display: inline-block;
  list-style: none; }

.wmd-button > a {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
  position: absolute;
  display: inline-block; }

/* sprite button slicing style information */
#wmd-button-bar #wmd-bold-button {
  left: 0px;
  background-position: 0px 0; }

#wmd-button-bar #wmd-italic-button {
  left: 25px;
  background-position: -20px 0; }

#wmd-button-bar #wmd-spacer1 {
  left: 50px; }

#wmd-button-bar #wmd-link-button {
  left: 75px;
  background-position: -40px 0; }

#wmd-button-bar #wmd-quote-button {
  left: 100px;
  background-position: -60px 0; }

#wmd-button-bar #wmd-code-button {
  left: 125px;
  background-position: -80px 0; }

#wmd-button-bar #wmd-image-button {
  left: 150px;
  background-position: -100px 0; }

#wmd-button-bar #wmd-spacer2 {
  left: 175px; }

#wmd-button-bar #wmd-olist-button {
  left: 200px;
  background-position: -120px 0; }

#wmd-button-bar #wmd-ulist-button {
  left: 225px;
  background-position: -140px 0; }

#wmd-button-bar #wmd-heading-button {
  left: 250px;
  background-position: -160px 0; }

#wmd-button-bar #wmd-hr-button {
  left: 275px;
  background-position: -180px 0; }

#wmd-button-bar #wmd-spacer3 {
  left: 300px; }

#wmd-button-bar #wmd-undo-button {
  left: 325px;
  background-position: -200px 0; }

#wmd-button-bar #wmd-redo-button {
  left: 350px;
  background-position: -220px 0; }

#wmd-button-bar #wmd-help-button {
  right: 0px;
  background-position: -240px 0; }

.wmd-prompt-background {
  background-color: Black; }

.wmd-prompt-dialog {
  border: 1px solid #999999;
  background-color: #F5F5F5; }

.wmd-prompt-dialog > div {
  font-size: 0.8em;
  font-family: arial, helvetica, sans-serif; }

.wmd-prompt-dialog > form > input[type="text"] {
  border: 1px solid #999999;
  color: black; }

.wmd-prompt-dialog > form > input[type="button"] {
  border: 1px solid #888888;
  font-family: trebuchet MS, helvetica, sans-serif;
  font-size: 0.8em;
  font-weight: bold; }

/**************** id's and classes *****************/
#header {
  background-image: url("/images/phrenologo6.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 920px;
  height: 40px;
  border: 1px solid #ddd;
  padding: 10px 15px 5px 15px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  font-family: Palatino Linotype, Book Antiqua, Palatino, serif; }

#header .right {
  float: right; }

#header .right .user {
  text-align: right;
  padding-bottom: 6px; }

#logotype {
  font-weight: bold;
  font-size: 1.7em;
  padding-left: 66px; }

#signup {
  width: 500px;
  height: 270px;
  padding: 20px;
  background-color: white; }

#signup .dismiss {
  float: right; }

#signup h2 {
  padding-bottom: 5px; }

#signup h3 {
  padding: 25px 0 5px 0; }

#signup h4 {
  font-size: 1.4em;
  padding-bottom: 5px; }

#signup .submit {
  padding-top: 8px;
  font-size: 1.1em; }

#signup .submit .btn {
  font: bold;
  width: 90px;
  font-size: 1em; }

#container {
  width: 920px;
  border: 1px solid #ddd;
  padding: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto; }

.left {
  float: left; }

#questions {
  padding: 0;
  margin: 0 0 0 20px; }

#questions li {
  margin: 0;
  padding: 5px 0 5px 0; }

#questions li em {
  font-weight: bold; }

#question_pane {
  padding: 20px 0; }

#choices {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.bulletless {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.bulletless li {
  margin: 0;
  padding: 0 0 8px 0; }

/*.bulletless li a {
  font-weight:bold;
}*/
.bulletless li span {
  font-size: .9em; }

.bulletless li span a {
  font-weight: normal; }

#comments h5 {
  padding: 20px 0 10px 0;
  margin: 20px 0 10px 0;
  border-top: 1px solid #ddd; }

#comments textarea {
  width: 670px;
  height: 210px; }

.scrollable {
  height: 300px;
  border: 1px solid #ddd;
  padding: 5px;
  overflow: scroll; }

.roundborder {
  border: 1px solid #ddd;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px; }

.button {
  /*float:left;*/
  padding: 8px;
  margin: 0 5px 0 15px;
  height: 11px;
  vertical-align: middle;
  color: #fff;
  text-decoration: none;
  font-family: Arial,sans-serif;
  font-weight: normal;
  line-height: .9;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  position: relative;
  cursor: pointer; }

.green.button, .green.button:visited {
  background-color: #99cc33;
  border: 1px solid #99cc33; }

/* replace with clearfix? */
#pusher {
  clear: both; }

#footer {
  width: 920px;
  border: 1px solid #ddd;
  padding: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
  vertical-align: middle; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }
