%div{:style => 'height:100px;'}
  %div{:style => 'width:80px; float:left; text-align:left;'}
    =link_to(image_tag("facebook_64.png", :size => "64x64", :alt => "Twitter", :style => 'padding:0; margin:0;'), '/auth/facebook')
    %div= link_to('Facebook', auth_path('facebook'), :style => 'padding-left:5px;')

  %div{:style => 'width:80px; float:left; text-align:left;'}
    =link_to(image_tag("twitter_64.png", :size => "64x64", :alt => "Twitter", :style => 'padding:0; margin:0;'), '/auth/twitter')
    %div= link_to('Twitter', auth_path('twitter'), :style => 'padding-left:10px;')