%div

  .show_twitter{:style => 'width:210px; float:left; text-align:left;'}
    =link_to(image_tag("fbconnect_194x25.gif", :size => "194x25", :alt => "Twitter", :style => 'padding:0; margin:0;'), user_omniauth_authorize_path(:facebook))
  
  .show_twitter{:style => 'width:140px; float:left; text-align:left;'}
    =link_to_function('or sign up using Twitter', "$('.show_twitter').toggle();")
    
  .show_twitter{:style => 'display:none;'}
    %div{:style => 'padding:0 0 4px 0;'}
      Enter your email then click
      %strong Sign in with Twitter
      
    %input#email{:type => 'text', :name => 'email', :value => 'your email', :onclick => "this.value=''; $('#email').css('color','#000');", :style => 'width:150px; height:12px; color:#777'}
      
    .twitter{:style => 'padding-top:20px;'}
      =link_to(image_tag("twitter_signin.png", :size => "151x24", :alt => "Twitter", :style => 'padding:0; margin:0;'), user_omniauth_authorize_path(:twitter))
      %a{:onclick => "$('.show_twitter').toggle();", :style => 'font-size:.9em;'} cancel
    
:javascript
  $(document).ready(function() {
    $('.twitter').click(function() {
      document.cookie='email=' + $('#email').val() + '; path=/\;';
    });
  });
  