<style type="text/css">
ol {font-size:1.2em;}
li {margin:15px;}
</style>

<h1>Deck</h1>

<ol>
<li>There's lots of great content, but no evaluation layer</li>
<li>Educational middleware, tying together people and content</li>
<li>Start a deck. Short and blunt. Then start thinking about when to present it, and who to aim for.</li>
</ol>