-if user_signed_in?
  %h2{:style => 'padding:10px 0 25px 0;'} #{link_to('Create a test right now', new_test_url, :class => 'green button')} or take any of these tests:
- else

  %p{:style => "font-size:1.2em;"}
    %strong< Testeroni is a free site for making and taking tests.
    
  %div{:style => 'margin:20px 0;'}
    =link_to_function('Create Account', "Tstrni.viewSignup()", :class => 'green button', :style => 'font-size:1.8em; font-style:italic; font-weight:bold;padding:5px 10px;')
    Already have an account?
    =link_to 'Log in'
  .clearfix
  
    -# put this in a content_for so that it's at the bottom of the template and doesn't slow page rendering
    :javascript
      $(document).ready(function() {
        $('#signup_link').click(function() {
          signupThenGoTo('#{new_test_path}');
        });
      });

- unless user_signed_in?
  %div{:style => 'padding:0 0 20px 0;'}
    Or just start taking tests. You can sign up when you're done if you want to save your results.
  
-if @tests.size > 0
  %ul.bulletless.home
    -@tests.each do |test|
      %li
        =render(:partial => 'shared/test_listing', :locals => {:test => test})
- else
  %div{:style => 'font-style:italic;'} No tests created yet.