.row.mt-20
  .col-12.col-md-10.col-lg-8
    %h3.mb-0
      Testeroni is for social tests.
    %div
      Take them, make them, invite friends, see how you stack up.

    %h5.mt-30
      -# #{link_to 'Create a test now', new_user_registration_path}
      Yours for the taking:


    -if @tests.size > 0
      %ul.list-group.mt-30
        -@tests.each do |test|
          %li.list-group-item.list-group-item-action
            =render(:partial => 'application/test_listing', :locals => {:test => test})
    - else
      %div{:style => 'font-style:italic;'} No tests created yet.
