.row
  .col-md-10.col-lg-8.homepage-hero
    .card.homepage-card
      .card-body.homepage-card-body
        %h4.inline
          Tests of all kinds for you and your friends.
          %b.text-muted.fs-2
            Perform feats of mental agility!
        %span.home3
          Make them, take them, invite friends, see how you stack up.
      .mt-10
        = image_tag "/strong-woman.png", class: "card-img-top", style: "margin-bottom: 0;"

    %h4.mt-25
      Yours for the taking

    -if @tests.present? && @tests.size > 0
      %ul.list-group.mt-20
        -@tests.each do |test|
          %li.list-group-item.list-group-item-action
            = link_to test_path(test) do
              = render partial: 'application/test_listing', locals: {test: test}
    - else
      .mt-20.italic
        No tests created yet.
