<style type="text/css">
ol {font-size:1.2em;}
li {margin:15px;}
</style>

<h3>Possible Taglines</h3>
<ul>
  <li>Test Yourself</li>
  <li>Make and Take Tests</li>
  <li>Educational Curation and Evaluation</li>
  <li>Social Education</li>
</ul>

<h1>Notes</h1>

<p>At different points in our lives, everyone is a teacher, and everyone is a student. And most of our learning is done outside of our formal education. Evaluation is an integral part of the learning process--it's not just to judge how much you've learned when you're done, but regular evaluation during the learning process helps you learn more, faster, and retain it better.</p>

<p><em>"Over the next few decades, a lot of people are going to get rich selling education, self-help and mobility tools to the surging global bourgeoisie. The United States has a distinct role to play in this world."</em></p>
<p>- David Brooks, <em>Ben Franklin’s Nation</em>, <a rhef="http://www.nytimes.com/2010/12/14/opinion/14brooks.html">http://www.nytimes.com/2010/12/14/opinion/14brooks.html</a>

<ol>
  <li>Social test creation: anyone registered user can add questions.</li><li>Need to allow collaborative tests that get added to over time. How to deal with grades and history for tests that change often?</li>
  
  <li>Surveys as well as tests. A survey is just a test with no correct answer.</li>
  
  <li>Follow people and tests. Create 2 feeds: per-user activity, and an aggregated feed *for* each user (as opposed to their own activity) of what their contacts are doing.
  
  <li>When you finish a test it should give you a link and a prompt to take another similar one, like the way nytimes stories slide out a promo for the next story in that section</li>
  
  <li>Should responses be recorded regardless of whether or not they're logged in? If you don't, they don't contribute to stats.</li>
  
  <li>Migrate to Mongoid?</li>
  
  <li>Put a 'how to' video on the unloggedin homepage. Try using http://www.screentoaster.com/, http://www.techsmith.com/jing/, http://screenr.com/</li>
  <li>put results, or a mini-version of results, on last page of test:
  http://johneroni.testeroni.com:3000/tests/us-state-capitals/results/testeroni/7</li>
  
  <li>after creating a question, should get a better response. maybe go to the edit page?</li>

  <li>when adding questions to an already-published test, need to handle it better (should it even be possible? maybe only if it's never been taken? clone?)</li>
  
  <li><b>OPEN EVERYTHING</b>. Open book test, you can see the answers, you can see individual questions, everything is independently addressable (though connected). To start, make questions have their own urls (use the bbq jquery plugin if appropriate, same one you used for thesaurus comparisons)</li>
  
  <li>When editing questions, can I switch type, say MC to SA?</li>
  <li>Should be able to take tests without creating an account--especially for embedded tests. If you do, it should store results either in a cookie (might hit space issues), or in the session, and if you create an account, it should then populate your account with your earlier activity.</li>
  <li>Questions should be directly addressable, maybe? maybe not--how would you score a test that someone entered in the middle? Maybe tests are rolling--if you start on question 5, it goes to the end, then presents you with questions 1-4.</li>
  <li>Taking your own tests should probably be allowed, but those takes shouldn't count towards any of your stats, or the stats for the test.</li>
  <li>When creating tests options to get: email notifications when people take it</li>
  <li>Invites should only be able to be sent out once, so need a way to monitor who has and has not been sent them. Easy way would be to only allow the sending of invites once, at the end of test creation. Could start there, but that'd be limiting. Could also disallow fb invites (that graph api isn't even done yet anyway) and focus on using plain ol' email at first. Could also just post newly created tests once, to your own mini-feed, rather than directly to all your friends.</li>
  <li>Need validation on /tests/foo/pubish page, so that you have to select people before it lets you invite anyone</li>
  <li>Use Amazon SQS to send emails/fb messages asynchronously. Look for related gems.</li>
  <li>Let fbconnected users invite others to take a test after taking it themselves (rather than just after creating one).</li>
  <li>After (or before?) you take a test, if you're fbconnected, it should check if any of your friends have taken the same test, and display their scores as well.</li>
  <li>Should fbmessage (or email) back the test creator when someone has taken one of their tests. Might want to make that a daily summary, and turn-offable, so wildly popular tests don't become a total headache.</li>
  
  <li>Should also be able to invite people to take test by email.</li>
  <li>Auth buttons should trigger a spinner</li>
  <li>Come up with a long-term solution (write a helper) for URI.escape and CGI.escape (http://blog.standalonecode.com/?p=42)</li>
  <li>When you're not signed in, and you click on a test to take it, you should get the option to log in, as well as to sign up.</li>
	<li>Make sure you can sign in with either username or email (right now just asks for email)</li>
	<li>Facebook and Twitter OAuth integration
		<ul>
		  <li>sharing of tests through those channels.</li>
		  <li>See what tests your friends have taken</li>
		  <li>Should be able to take tests *on facebook*</li>
			<li>Rather than twitter auth sending you to the regular signup page, it should send you to a special-purpose 'finish signup up' page, without the validation crap</li>
			<li>put fb/twitter signup icons on signup lightbox</li>
		</ul></li>
	
	<li>Install tracking, use google js api/cdn.</li>
	<li>Need to be able to end a test, in which case it goes into archive mode: results visible, can't be taken.</li>
	
	<li>Add reporting for the responses to each question after its been answered, and make it so you can't answer questions you've already answered</li>
	<li>Need a results page for every question, with stats, and ideally stats comparing how you did to you fb friends.
		Look to Scramble and Might Quiz for inspiration with post-answer results.</li>
	<li>Need a test-wide result page, as well as per-question.</li>
	<li>Simple test search: MySQL LIKE query, again test name/description/tags</li>
	
	
	
	<li>Need option to publish in edit panel</li>
	<li>Present a URL and an embed text input as soon as possible, as soon as the test is published (like youtube).</li>
	<li>Questions should be reorderable, use acts_as_list or whatever has superceded it.</li>
	
	<li>Allow per-question or per-test image uploads (file, or just url? file first.)</li>
	<li>Needs groups, off the bat, and the ability to email a group of people and invite them to a group.</li>
	<li>Ideally this will be sending lots of emails. Need to do that asynchronously--queue them for near-term, but not at runtime, sending.</li>
	<li>Improve user profiles: website, location, description, etc. Standard stuff.</li>

<li>API</li>

<li>Consider short answers--1-4 words, then lowercase, strip punctuation, and match response to answer. Include mechanism to allow alternate responses, and for users to petition for new alternate responses.</li>

<li>From inception need to be able to follow other users (which means it needs activity-stream-like-shit at a pretty atomic level). Github/Tumblr style.</li>

<li>How to handle gaming? Cookie user, only let them take each test once a day? Make that a configurable option?</li>

<li>Put checks for current_user in many controller methods. For instance you shouldn't be able to hit QuestionsController#answer at all if you're not logged in.</li>

<li>For multiple choice questions, maybe Question.correct_result should be nil. Giving it a value is misleading.</li>

<li>Make sure to sort out difference between question.kind and question.correct_result before going too far.</li>

<li>As you add questions, it should show the ones already there--or at least a count</li>

<li>Big css3 button to start it, which reveals the questions (maybe tests are timed, in which case we don't want to show questions beforehand. maybe 'timed test' is an option when creating them?) Or it's not a timed test, questions are visible but greyed out, and form elements are inactive.</li>

<li>Should you be able to review your answers? Maybe it's configurable by the test creator?</li>

<li>Rip off good ideas from Zoho Challenge (and avoid bad ones--Testeroni should be a *lot* simpler).</li>

<li>Eventually you should be able to both vote up tests, and follow people, and then filter
	the tests you see by the upvotes of the people you follow. Kind of like using your friends
	votes as slashtags.</li>
</ol>


<h1>Contacts</h1>
<p>Write these people, implore them to blog/tweet/whatever</p>

<ol>
  <li>Repoint all my social media link crap/sig/etc to testroni.com</li>
  <li>
  <li>Jon Bischke (hacking education)</li>
  <li>
	<li>The university/education beat contact list for the thesaurus launch</li>
	<li>Daniel Terdiman</li>
	<li>Arik</li>
	<li>Altay</li>
	<li>Tim</li>
	<li>Theo</li>
	<li>Steve (ask him to tell Jono, Catarina)</li>
	<li>Christian</li>
	<li>Go over Jschool people, see who's in tech</li>
	<li>Go over linked in, ditto</li>
	<li>Tim O'Reilly</li>
	<li>Alex Tsotsis</li>
	<li>Kristy's MIT connections</li>
	
	<li>http://www.elearningguild.com/</li>
</ol>

<p>Next NY: I've been working on a side project that I'm about to launch, and am wondering if anyone has any suggestions for simple, free places to announce/promote it. I know this ain't the place, but what is? I'm going to write bloggers in the field (education)... any other suggestions?</p>


<h2>Deployment/Infrastructure</h2>
<ol>
	<li>Get codebase on github soon</li>
	<li>Start writing tests!</li>
	<li>Set up Google Analytics</li>
	<li>At first just deploy with git, I think. Then consider... Capistrano?</li>
	<li>Use Amazon's free EC2 instance to start (32 bit), so long as you confirm it would be easy to move up to a 64 bit instance. If it's just me, use micro. If there's any kind of backing at all, future proof a little with a large.</li>
	<li>Automate db backups (hourly?), and make sure they can be moved to S3. Do test restorations to verify.</li>
	<li>Document the shit out of the instance create/deployment process</li>
	<li><b>Later on...</b></li>
	<li>Set up Google Apps account, so I can have a john@testeroni.com</li>
	<li>Set up a blog</li>
</ol>


<h1>Money</h1>
<p>Most attractive sources of it</p>
<ol>
	<li>Fred Wilson/USV</li>
	<li>Andreesen Horowitz</li>
	<li>Ron Conway</li>
	<li>Chris Dixon/Founder Collective (http://foundercollective.com/)</li>
	<li>Charlie O'Donnell/First Round (http://www.firstround.com/)</li>
	
	<li>RRE Ventures (http://www.rre.com/)
	<li>Y Combinator (via Altay)</li>
	<li>Techstars (http://www.techstars.org/nyc/)</li>
	<li>David Tisch ()
	<li>Bill Gurley</li>
	<li>Floodgate/Mike Maples/Ann Miura-Ko</li>
	<li>Steve Andersen/Baseline</li>
	<li>Catarina Fake</li>
	<li>Lightbank (http://j.mp/b6T88i)</li>
	<li>Charles River (old squirl contact, talk to mark wong-vaharen if possible)</li>
	<li><em>harvest:</em><br />
	  http://techcrunch.com/2010/02/02/top-vc-firm-websites/<br />
	http://blogs.wsj.com/venturecapital/2010/11/01/the-money-trail-this-years-most-active-venture-firms/</li>
	
	<li>Chris Dixon: "Sequoia Capital is widely (and, in my opinion, correctly) considered to be the best venture capital firm on the planet." (http://cdixon.posterous.com/bubble-or-bust-nobody-knows-anything)
</ol>

<h2>Accounts</h2>
Twitter: besteroni/columbia
YouTube/Google: besteroni/kristy

<h2>education sites</h2>
http://openstudy.com/
http://ocw.mit.edu/

<h2>survey and quiz sites</h2>
http://www.surveymonkey.com/
http://polldaddy.com/

http://quizlet.com/

http://challenge.zoho.com/login.do

http://www.zoho.com/challenge/quiz-maker.html
http://www.proprofs.com/quiz-school/
http://www.classmarker.com/
http://www.watermelonexpress.com/

http://quizstar.4teachers.org/
http://www.quizbox.com/builder/
http://myquizcreator.com/
http://www.easytestmaker.com/default.aspx