%h1 Testeroni Terms

%p By signing up for Testeroni, you agree to:

%ul
  %li Obey the law. Illegal activity on Testeroni is grounds for account suspension, and will be reported to the authorities.
  %li Be nice. Disagreement and spirited debate is fine, but hateful or troll-like behavior is grounds for account suspension. Testeroni is the sole arbiter of what constitutes poor behavior.
  %li Grant Testeroni rights to any content you share or create on the site ("user content"). While Testeroni does not claim any ownership rights to user content, adding user content to Testeroni implicitly grants Testeroni a worldwide, non-exclusive, royalty-free, fully paid, perpetual, irrevocable, sublicensable and transferable license to use, modify, reproduce, distribute, prepare derivative works of, display, perform, and otherwise fully exploit 