<!DOCTYPE html>
  <html>
    <head>
      <title>Test WMD Page</title>
      <%= stylesheet_link_tag('/wmd/wmd.css') %>
      <%= javascript_include_tag("/wmd/showdown.js") %>
    </head>
	
    <body style="background-color:white;">
		
      <div id="wmd-button-bar" class="wmd-panel" style="background-color:white;"></div>
      <br/>
      <textarea id="wmd-input" class="wmd-panel"></textarea>
      <br/>
      <div id="wmd-preview" class="wmd-panel"></div>
      <br/>
      <div id="wmd-output" class="wmd-panel"></div>	
		
<%= javascript_include_tag("/wmd/wmd.js") %>
    </body>
  </html>