%ul
  %li Capitals of US States
  %li Word trivia
  %li Does my ass look big in this?
  %li Who are the Four Horsemen of the Apocalypse?
  %li What are the three primary colors?
  %li Canadian provinces
  %li Commonwealth nations
  %li Asian countries
  %li Something Australian?
  %li Monty Python
  %li Surfing (Steve)
  %li English Monarchs
  %li Tour de France (Tony -- who died on Alpe d'Huez, who won in specific years, first use of different kind of equipment, last guy in clips[irish dude?])
  %li Climate (kristy)
  %li Disney movies
  %li Pixar movies
  %li Star Wars trivia
  %li Chuck Norris
  %li Music quizzes: by genre, about specific bands (the beatles, stones, sex pistols, Jay-Z[?]), etc.
  %li Biggest tech flamouts
  %li Unix commands
  %li Railsiana
  %li Victoriana
  %li Monkeys
  %li Ducks
  
%p make demo tests for people who you think could use testeroni--Khan academy, Fred Wilson, 
  
%p New Test types:

%ul
  %li Lists (US States, countries in NATO). need to normalize answers (downcase, strip punctuation)
  
  
  "Builder includes a variety of question-answer schemes, including true/false, single answer, multiple answer, word bank, order, match, fill-in-the-blank, and click."