%ul
  %li Capitals of US States   
  %li Does my ass look big in this?
  %li Who are the Four Horsemen of the Apocolypse?
  %li What are the three primary colors?
  %li 
  
%p New Test types:

%ul
  %li Lists (US States, countries in NATO). need to normalize answers (downcase, strip punctuation)
  
  
  "Builder includes a variety of question-answer schemes, including true/false, single answer, multiple answer, word bank, order, match, fill-in-the-blank, and click."