%h1 Tests tagged #{params[:id]}

%ul.bulletless{:style => 'font-size:1.4em;padding:20px 0 0 0;'}
  -@tests.each do |t|
    %li{:style => 'padding:0; margin:0;'}
      =link_to(t.name, test_path(t.id, t.to_param))
      ="(#{pluralize(t.questions.size, 'question')})"