%h1
  %span{:style => 'font-weight:normal;font-size:.6em;'} Tests tagged
  =params[:id]

%ul.bulletless.home{:style => 'padding-top:15px;'}
  -@tests.each do |test|
    %li
      =render(:partial => 'application/test_listing', :locals => {:test => test})
