/////**************** Variables *****************/
//
//$input-width: 500px;


@mixin xs {
   @media (max-width: 576px) {
       @content;
   }
}

@mixin sm {
   @media (min-width: 576px) {
       @content;
   }
}

@mixin md {
   @media (min-width: 768px) {
       @content;
   }
}

@mixin lg {
   @media (min-width: 992px) {
       @content;
   }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  // Margin bottom: footer height
  margin-bottom: 0px;
  padding-bottom: 60px;
  font-weight: 300;

  footer.footer {
    height: 10px;
    width: 100%;
    padding: 10px 0 0 0;
    margin: 60px 0 0 0;
    .container {
      padding: 10px 10px 0 10px;
    }
    a {
      color: #bbb;
    }
  }
}

h1, h2, h3, h4 {
  //  font-family: 'Ubuntu', sans-serif;
  font-family: 'Playfair Display', serif;
  span {
    font-weight: 300;
    font-size: 16px;
    //    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-family: 'Playfair Display', serif;
  }
}

b {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

#logotype {
  color: #BF0000;
  font-size: 2em;

//.navbar-collapse {
//  @include sm {
//    margin-top: 35px;
//  }
//}
//
//  margin: -25px 0 -45px 0;
//  padding: 0;

//  @include sm {
//    font-size: 2em;
//    margin: -30px 0 -55px 0;
//  }
//
//  @include md {
//    font-size: 2em;
//    margin: -30px 0 -55px 0;
//  }

//  @include lg {
//    font-size: 8em;
//    margin: -30px 0 -55px 0;
//  }
}

#logotype a {
  color:#BF0000;
}

#logotype a:hover {
  text-decoration:none;
}

//.top-nav {
//  background-color:#E0FFFF;
//  border-bottom: 1px solid #ddd;
//}

.sign_in {
  margin-top: 30px;

  @include sm {
    margin-top: 20px;
  }
}

.display {
  font-family: 'Playfair Display', serif;
}

.homepage-hero {
  margin-top: 0px;
  border-top: 0px solid red;

  @include sm {
    margin-top: 10px;
  }
}

.homepage-card {
  padding-top: 5px;

  @include sm {
    padding-top: 10px;
  }
}

.homepage-card-body {
  padding-top: 5px;
  border-top: 0px solid red;

  @include sm {
    padding-top: 10px;
  }
}

.home3 {
  font-family: 'Playfair Display', serif;
  font-size: 1.1rem;

  @include sm {
    font-size: 1.5rem
  }

  @include md {
    font-size: 1.9rem
  }

  @include lg {
    font-size: 1.9rem
  }
}

.test-listing-hed {
  margin-bottom: 0;
  font-family: 'Playfair Display', serif;
  font-size: 1.4rem;
}
.test-listing-info {
  color: #212529;
  text-decoration: none;
}

.test-hed {
  @include xs {
    font-size: 1.6rem
  }
}

.questions {
  margin-top: 30px;
}

.actions {
  margin: 30px 0 0 0;
}

.links {
  margin-top: 20px;
}

.inline {
  display: inline;
}

.normal {
  font-weight: 300px;
}

.card {
  margin-top: 10px;
  margin-bottom: 5px;
}

.question-name {
  font-size: 2em;
  padding: 0 0 5px 0;
  margin: 0;
}

.sortable-items {
  .sortable-item {
    cursor: ns-resize;
    background: #fff;
  }
}

.has-hover-items {
  .hover-item {
    visibility: hidden;
  }
  &:hover {
    .hover-item {
      visibility: visible
    }
  }
}

/*********** Layout *************/
.mt-0 {
  margin-top: 0px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mr-0 {
  margin-right: 0
}

.mr-7 {
  margin-right: 7px
}

.mr-10 {
  margin-right: 10px
}

.mr-20 {
  margin-right: 20px
}

.mr-30 {
  margin-right: 30px
}

.mb-0 {
  margin-bottom: 0
}

.mb-5 {
  margin-bottom: 5px
}

.mb-7 {
  margin-bottom: 7px
}

.mb-10 {
  margin-bottom: 10px
}

.mb-20 {
  margin-bottom: 20px
}

.mb-30 {
  margin-bottom: 30px
}

.mb-40 {
  margin-bottom: 40px
}

.ml-10 {
  margin-left: 10px
}

.ml-20 {
  margin-left: 20px
}

.ml-30 {
  margin-left: 30px
}

.pt-0 {
  padding-top: 0px;
}

.fs-11 {
  font-size: 1.1rem
}

.fs-16 {
  font-size: 1.6rem
}

.fs-2 {
  font-size: 2rem
}

.fs-21 {
  font-size: 2.1rem
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 20px;
}
