- flash.each do |key, msg|
  - alerttype = (key == "alert" || key == "error") ? "danger" : "primary"
  .alert.mt-20{role: "alert", class: "alert-#{alerttype}"}
    %button#closer{type: "button", class: "close", "aria-label": "Close"}
      %span{"aria-hidden": "true"}
        &times;

    != msg

  :javascript
      $("#closer").click(function(){
        $(".alert").fadeToggle();
      })
