%h1= link_to(@test.name, test_path(@test))
%p{:style => 'padding-bottom:20px;'} Test results for: #{@user.username}:

%ul.bulletless

  - if @take
    %ol
      -@take.responses.each do |r|
        %li{:style => 'padding-bottom:10px;'}
          %div
            Question:
            %em= r.question.name
          %div
            your answer:
            -if r.answer == true
              true
            -elsif r.answer == false
              false
            -else
              = r.choice.name
          -if r.correct
            %strong
              CORRECT!
          -else
            %strong
              Sorry, wrong.
            The correct answer is: 
            -if r.question.kind == Question::TRUEFALSE
              =(r.question.correct_response == 1) ? 'true' : 'false'
            -else
              =r.question.correct_choice.name